ocr/google_cloud_vision_python/google-cloud-vision-key.json
application_default_credentials.json
ocr/google_cloud_vision_python/google-cloud-vision-key.json
application_default_credentials.json
*key.json
application_default_credentials.json
